
div {
    direction: rtl;
}
.background-color{
    background-color: #eee;
}

.color-principal{
    color: #0099AA;
}
.second-color{
    color: #004045;
}
.image-article-size{
    width: 100%;
    height: 100%;

}
.image-article-style{
    padding-bottom:15px;
    width: 100%;
    border-radius: 0.25rem;
}
.button-article-background-color{
    color: #eee; 
    background-color:#0099AA;
}
.button-more-background-color{
    background-color: #eee;
    color: #004045;
}
.button-more-background-color:hover{
    color: #eee; 
    background-color:#0099AA;
}
.button-page-link>.pagelink{
    background-color: #eee;
    color: #004045;
}
.button-page-link>.page-link:hover{
    color: #eee; 
    background-color:#0099AA;
}
.button-back:active{
    color: #eee;
    background-color: #0099AA;
}



.padding{
    padding: 5px;
}
.share-facebook-color{
    text-decoration: none;
    /* color : #4267B2  ; */
    color: #004045;
}
.share-facebook-color :hover{
    color: #0099AA;
}
.share-twitter-color{
    text-decoration: none;
    /* color : #1DA1F2  ; */
    color: #004045;
}
.share-twitter-color :hover{
    color: #0099AA;
}



.NameUser-Comment{
    font-size: 20px ;
}
.comment-date{
    margin-bottom: 10px;
    font-size: 12px ;
}
.comment-user-image{
    padding: 2px;
   
}

.link :hover{
   color: #0099AA;
   display: inline-block;
}
.user-background-color{
   background-color: #eee ; 
}

.image-user{
    border-radius: 50%;
}
.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.list-dropdown-text-size{
    font-size: 100%;
}
.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
.tags li {
    float: right; 
  }
  
.tag {
    background: #0099AA;
    border-radius: 3px 0 0 3px;
    color: #eee;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
  
  }
  
.tag::before {
    background: white;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
.tag::after {
    background: white;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
.tag:hover {
    background-color: #0099AA;
    color: #eee;

  }
  
.tag:hover::after {
     border-left-color: #0099AA; 
  }
.shadow-box{
    text-shadow: 0 0 3px rgb(168, 168, 168), 0 0 5px rgb(66, 66, 66);
}